:root {
    --text: #120708;
    --background: #fdf9fa;
    --primary: #e2323f;
    --secondary: #f4828a;
    --accent: #fc4e59;
    --background-200: #e6b3bf;
    --background-100: #f2d9df;
    --primary-700: #86131b;
    --primary-800: #590d12;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
  }

.giftcard-text{
    font-family: 'Nunito Sans', sans-serif;
    text-align: right;
    font-size:medium;
    color: var(--text);
  }

  
.giftcard-text-money{
  font-family: 'Poppins';
  text-align: right;
  font-size:medium;
  color: var(--text);
}


  .giftcard-text-large{
    font-family: 'Nunito Sans', sans-serif;
    text-align: right;
    font-size: 22px;
    color: var(--text);
  }
  

  .giftcardcode-text{
    font-family: 'Poppins';
    text-align: right;
    font-size: large;
    color: var(--primary);
  }
  .giftcardsent-text{
    font-family: 'Poppins';
    text-align: right;
    font-size: large;
    color: var(--accent);
  }
  
  .amount-container {
    display: flex;
    flex-direction: column;
  }
  .giftcard-image{
    cursor: pointer;
    text-align: left;
    height: 10.5rem;
    width: 10.5rem;
    object-fit: cover;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .amount-container .giftcard-text {
    margin-bottom: 5px;
  }
  .copy-button{
    font-size: 15px;
    color: white;
    background-color: var(--secondary);
    padding: 0.35rem;
    border: none;
  }

  .copy-button:hover{
    background-color: var(--primary);
  }
  