.grid {
    display: grid;
    grid-template-rows: repeat(2); /* Two rows with equal height */
    gap: 16px;
}
  .nav-bar-hah{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .search-results {
    display: flex;
    justify-content: space-between; /* Ensure the filter and results are spaced apart */
  }
  
  .filter-section {
    background-color: aqua;
    width: 20%;
    height: calc(100vh - 190px); 
    position: fixed;
    top: 20%; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
  }
  
  .results-of-products {
    width: 75%; /* Adjust the width of the results section */
    margin-left: 25%; /* Add a margin to ensure results don't overlap with the filter */
  }
  
  