.customer-dashboard-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f7f05c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customer-info {
  margin-bottom: 20px;
}

.customer-info p {
  margin: 8px 0;
}

.button-container {
  text-align: center;
}

.change-password-button {
  background-color: #f4eb1a;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.change-password-button:hover {
  background-color: #f3e90b;
}
