:root{
  --text: #120708;
--background: #fdf9fa; 
--primary: #E2323F;
--secondary: #f4828a;
--accent: #fc4e59;
}
.reg-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--background);
}

.reg-woman{
  width: 35%;
  margin: 0 auto;
} 

.reg-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  background-color: var(--background-50);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto; 
}

.h1 {
  color: var(--primary, #e2323f);
}

.pques{
  position: absolute;
  top: 72vh;
  left: 200px;
  margin-top: 200px;
  color: black;
}
.signinbutton{
  background-color: var(--secondary, #f4828a);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  
  position: absolute;
  top: 98vh;
  left: 365px;
  width: 20%;
}
.regbutton{
  background-color: var(--secondary, #f4828a);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  
  width: 30%;
}


.label {
  display: block;
  margin-top: 10px;
}

.reg-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: large;
  font-weight: 400;
  
  
}

/* button {
  background-color: var(--secondary, #f4828a);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  
} */

button:hover {
  background-color: var(--accent, #fc4e59);
}

.member-btn {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  color: var(--primary, #e2323f);
  cursor: pointer;
  text-decoration: underline;
}

.member-btn:hover {
  color: var(--accent, #fc4e59);
}
.eye{
  position: absolute;
  bottom: 45%;
  right: 1%;
}
.confirmeye{
  position: absolute;
  bottom: 31.5%;
  right: 1%;
}

