* {
  font-family: "Quicksand", sans-serif;
}

:root {
  --text: #120708;
  --background: #e9e2e2;
  --primary: #e2323f;
  --secondary: #f4828a;
  --accent: #fc4e59;
  --background-100: #f2d9df;
  --background-50: #f9ecef;
  ---white : #fff;
}
.gradient-line {
  width: 100%;
  height: 0.25rem;
  background: linear-gradient(to right, var(--primary), var(--secondary));
  margin-top: 0rem;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 1px 3px -2px var(--text);
  background-color: var(--background-50);
  height: 4.75rem;
}

.nav-logo {
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding: 2.75rem 0;
}
.nav-top{
  padding: auto;
  height: 1rem;
  align-items: start;
  background-color: var(--background-50);
}
.nav-top ul{
  margin-block: auto;
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 15px;
  gap: 0.5rem;
  flex-direction: row;
}

.nav-top li {
  color: var(--accent);
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}

.nav-top li:hover{
  color:var(--text);
  text-underline-position: below;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}

.nav-menu {
  margin-right: 20px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  font-size: large;
  font-weight: 500;
  flex-wrap: nowrap;
}

.nav-menu li {
  align-items: center;
  text-align: end;
  cursor: pointer;
}

.nav-menu li:hover {
  text-align: end;
  color: var(--secondary)
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  border:none;
  width: 95px;
  height: 35px;
  outline: none;
  border-radius: 65px;
  color: var(---white);
  font-size: large;
  background: var(--primary);
}

.nav-login-cart button:hover {
  background: var(--accent);
  cursor: pointer;
}

.nav-cart-count {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -53px;
  border-radius: 15px;
  font-size: 14px;
  background-color: var(--primary);
  color: var(---white);
}

.selected {
  background-color: #fff;
}

.line{
  font-size: large;
  width: max-content;
}
.line:hover{
    color: var(--primary)
}

.logo-img{
  height: 3.5rem;
}

.cart-img{
  height: 2.45rem;
}
