:root {
  --text: #120708;
  --background: #fdf9fa;
  --primary: #e2323f;
  --secondary: #f4828a;
  --accent: #fc4e59;
  --background-300: #d98c9f;
}

.product-form-container {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto;
  }
  
  .product-form-container h2 {
    margin-bottom: 20px;
  }
  
  .product-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .product-form-container label {
    margin-bottom: 10px;
  }
  
  .product-form-container input[type="text"],
  .product-form-container input[type="number"],
  .product-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .product-form-container textarea {
    resize: vertical; /* Allow vertical resizing */
  }
  
  .product-form-container button {
    padding: 10px 20px;
    background-color:var(--accent);
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .button-style{
    margin: 0 auto;
    width: 104%;
  }
  .product-form-container button:hover {
    background-color: var(--primary);
  }
  
  .product-form-container label,
  .product-form-container button {
    font-size: 16px;
  }
  
  /* Category section styles */
  .product-form-container div.categories {
    margin-bottom: 10px;
  }
  
  .product-form-container div.categories div {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
  }
  
  .product-form-container div.categories input[type="text"] {
    width: calc(100% - 120px);
    margin-right: 10px;
  }
  
  .product-form-container div.categories button {
    padding: 5px 10px;
  }


  .add-product-cont {
    float: left;
    width: 45%;
    padding: 3rem;
  }

  .man{
    

  width: 100%;
  margin: 0 auto;

  }
  