/* .container{
    text-align: center;
    padding-top: 20px;
} */

input{
    height: 30;
    width: 30%;
    font-size: large;
    font-weight: 500;
}
label{
    position: absolute;
    top: 1%;
    right: 36%;
    padding-top: 27px;
    font-weight: 500;
}

