:root {
  --text: #120708;
  --background: #fdf9fa;
  --primary: #e2323f;
  --secondary: #f4828a;
  --accent: #fc4e59;
  --background-50: #f9ecef;
}
.heart{
  display: flex;
  flex-direction: row-reverse;
  font-size: 35px;
  margin-left: 2rem;
}

.name-heart-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.productdisplay {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  margin-top: 3rem;
}

.productdisplay-left {
  display: flex;

}

.productdisplay-main-img {
  width: 25rem;
  height: 25rem;
}

.productdisplay-right {
  width: 30%;
  padding-inline: 1.5rem;
  margin: 0 2.75rem 0 4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-50);
  padding-top: 1.5rem;
}
.productdisplay-right-description{
  font-size: large;
}
.productdisplay-right h1 {
  color: var(--text);
  font-size: 40px;
  font-weight: 700;
}

.productdisplay-right-prices {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-price-old {
  color: rgb(173, 173, 173);
  text-decoration: line-through;
}

.productdisplay-right-price-new {
  color: var(--primary);
}

.cart {
  padding: 20px 40px;
  width: 95%;
  font-size: 16px;
  font-weight: 600;
  color: var(--background);
  background: var(--primary);
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.already-in-cart {
  padding: 20px 40px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  color: var(--background-50);
  background: var(--secondary);
  border: none;
  outline: none;
}

.productdisplay-right button:hover {
  background-color: var(--accent);
}

.quantity-container {
  display: flex;
  align-items: center;
  background-color: var(--background-50);
}

.quantity-container label {
  margin-right: 10px;
  font-size: large;

}

.quantity-input {
  display: flex;
  align-items: center;
  background-color: var(--background-50);
}

.quantity-input button {
  background-color: var(--secondary);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.quantity-input button:hover {
  background-color: var(--primary);
}

.quantity-input input {
  width: 50px;
  height: 1.5rem;
  font-size: 1.2rem;
  height: 1.2rem;
  text-align: center;
  margin: 0;
  border: none;
}
#quantity{
  background-color: var(--background-50);
}