:root {
  --text: #120708;
  --background: #fdf9fa;
  --primary: #e2323f;
  --secondary: #f4828a;
  --accent: #fc4e59;
  --background-100: #f2d9df;
}


.popular{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(9rem,12rem));
    gap: 1rem;
    justify-content: center;
}

.popular-h1-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--background-100);
    height:min-content;
  }

.popular-h1 {
    padding: 1rem;
    margin-top: 4rem;
    color: var(--primary);
    font-size: 2.75rem;
}

.show-more-button {
    background-color: var(--accent);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.35rem;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
    display: block;
    margin: 1.5rem auto;
  }
  
  .show-more-button:hover {
    background-color: var(--secondary);
  }
