:root {
  --text: #120708;
  --background: #e9e2e2;
  --primary: #e2323f;
  --secondary: #f4828a;
  --accent: #fc4e59;
  --background-100: #f2d9df;
  --background-50: #f9ecef;
  ---white : #fff;
}

.seller-navbar {
  background-color: var(--background-50);
  padding: 10px;
  display: flex;
  align-items: center;
  height: 4.25rem;
}

.seller-nav-logo {
  margin-right: auto; 
}

.seller-logo-img {
  display: flex;
  align-items: center;
  padding: 2.75rem 0;
}

.nav-input-seller {
  display: flex;
  align-items: center;
}

.seller-signin-input {
  margin-right: 10px;
  border: 1px solid #ccc;
  width: 90%;
  padding: 10px;
  border: 1px solid var(--secondary);
  font-weight: 400;
}

.change-password-button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
}

.username {
  display: flex;
  align-items: center;
}

.user-label{
  padding-right: 1.5rem;
  font-size: large;
  font-weight: bold;
  color:var(--text);
}

.user-label:hover{
  color: var(--accent)
}



.line {
  width: 100%;
  height: 0.15rem;
  background: linear-gradient(to right, var(--primary), var(--secondary));
  margin-top: 0rem;
}
