:root {
  --text: #120708;
  --background: #fdf9fa;
  --primary: #e2323f;
  --secondary: #f4828a;
  --accent: #fc4e59;
  --background-300: #d98c9f;
}
.seller-woman{
  width: 55%;
  margin: 0 auto;

}
.seller-signin-h1-first{
  color: var(--text);
  margin: 0 auto; 
  margin-bottom: 0;
  font-size: 48px;
  font-family: 'Poppins';
  height: min-content;
}

.seller-signin-h1{
  color: var(--primary);
  margin: 0 auto; 
  font-size: 38px;
  font-family: 'Poppins';
  height: min-content;
}