:root {
    --text: #120708;
    --background: #fdf9fa;
    --primary: #e2323f;
    --secondary: #f4828a;
    --accent: #fc4e59;
    --background-50: #f9ecef;
    --background-100: #f2d9df;
    --background-700: #732639;
    --background-900: #260d13;
  }

  .product-name{
    margin-bottom: 10px;
    font-size: large;
    font-family: 'Poppins';
    font-weight: bold;
    color:var(--background-700);
  }

  .rev-review-text{
    font-size: medium;
    font-family: 'Poppins';
    font-weight: bold;
    color:var(--text);
    font-style: italic;
  }

  .author-cus{
    font-size: medium;
    font-family: 'Poppins';
    color:var(--background-900);
  }



  .review-item-seller {

    display: flex;
    flex-direction: row;
  }


  .big-cont{
    width: 55%;
    margin: 0 auto;
    border: 1px solid var(--accent);
    padding: 1rem;
    height: 100%;
    background-color: var(--background-50);
    margin: 0 auto;
  }

  .rev-cont-a{
    text-align: right;
  }
  
  .review-text {
    color: var(--text);
    font-size: 1.1rem;
    margin-top: 10px;
  }
  
  .reply-text {
    text-align: right;
    color: var(--background-700);
    font-size: 1.1rem;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .author {
    color: var(--background-700);
    font-size: 0.85rem;
    margin-top: 5px;
  }
  
  .created-at {
    color: var(--background-900);
    font-size: 0.75rem;
    margin-top: 5px;
  }
  .product-photo {
    width: 11rem;
    height: 11rem; /* Maintain aspect ratio */
  }
  
  .change-password-button {
    background-color:var(--primary);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 15px;
  }
  .signin-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--secondary);
    font-size: large;
    font-weight: 400;
  }

  .button-sub{
    background-color: var(--accent);
    color: white;
    font-size: 1rem;
    padding: 0.35rem;
    border: none;

  }

  .button-sub:hover{
    background-color: var(--primary);
    cursor: pointer;
  }